#item {
  white-space: pre-wrap;
  padding: 18px;
  font-size: medium;
  font-family: cursive;
}
#MenuOfDropBox{
  font-family: cursive;

}
#DropboxMain {
  padding: 18px;

}
#Buttons {
  /* font-family: sans-serif; */
  flex-direction: row;
  /* background-color: #c0c0c0; */
  text-align: center;

  overflow: hidden;
  background-color: #fff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10;

}
#Directions {

  text-align: center;

}
#para {
    font-family: "Sans-serif";
    line-height: 1.8;
    font-style: italic;
    font-weight: 400;
    font-size: large;
}
#SequenceNamediv{
  text-align: center;



}
 
input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 200px;
  text-align: center;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  pointer-events: none;




  
}
 


